.depth-box-container {
  background-color: white;
  max-width: 5%;
  width: 5%;
  height: 5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  left: 92%;
  top: 90%;

  .depth-box-text {
    background-color: white;
  }
}
