.treepage {
	width: 100vw;
	height: 100vh;
}

.treenodecard {

	&-modal {
		width: 25em;
		display: flex;
		padding: 2em;
	}
}

.topleft-container {
	position: absolute;
	z-index: 99;
	left: 2%;
	top: 2%;
	display: flex;
	align-items: flex-start;
}