.filter {
    &-input {
        padding: 0 0.5em 0 0.5em;
    }

    &-born-container {
        display: flex;
        flex-direction: row;
    }

    &-title-container {
        padding-bottom: 1em;
    }
}